*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
plinalg/__pycache__/hermitian.cpython-310.pyc
plinalg/__pycache__/__init__.cpython-310.pyc

# CMake
CMakeFiles/
CMakeCache.txt
build/

.clangd
compile_commands.json

# Python    
__pycache__/
*.pyc
*.pyo
*.pyd
venv
# C++
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
out/

# vscode
.vscode/

# neovim
*.vim

# outputs
#output

